<section class="welcome-view">
  <div class="welcome-view-text">
    <div class="welcome-view-text-title">
      <h1>
        Italika
      </h1>
      <h3>
        El motor de tu vida
      </h3>
    </div>
    <div class="welcome-view-text-slogan">
      <div class="">
        Conoce y no te pierdas cada instante el estatus
        de tu moto
      </div>
      <div class="">
        <button type="button" name="button">
          Ingresar
        </button>
      </div>
    </div>
  </div>
</section>
