<section class="home-view">
  <div class="home-view-notifications" [routerLink]="['/notifications']">
    <div class="home-view-notifications-text">
      Tienes <b>1</b> notificaciones
    </div>
    <div class="home-view-notifications-icon">
      <img src="/assets/bell_notification.svg" alt="">
    </div>
  </div>
  <div class="home-view-profile">
    <div class="home-view-profile-image">
      <img src="/assets/profile.jpg" alt="">
    </div>
    <div class="home-view-profile-info">
      <div class="">
        <p>
          Bienvenida, <b>Diana</b>
        </p>
        <p>
          Editar perfil
        </p>
      </div>
    </div>
  </div>
  <div class="home-view-products-list">
    <div class="home-view-products-item" [routerLink]="['/product']">
      <div class="home-view-products-item-top">
        <div class="">
          <img src="/assets/moto.png" alt="">
        </div>
        <div class="">
          <h3>
            Italika FT 150
          </h3>
          <p>
            Próximo mantenimiento: <b>15/09/2019</b>
          </p>
        </div>
      </div>
      <div class="home-view-products-item-shadow">
        <p>
          Tienes <span>un credito activo</span>.
        </p>
        <p>
          Siguiente pago <b>30/10/2019</b>
        </p>
      </div>
    </div>
    <div class="home-view-add-new-product">
      <p>
        <span>Agregar nuevo vehículo</span>
        <span>
          <img src="/assets/options-04.svg" alt="">
        </span>
      </p>
    </div>
    <div class="home-view-sos">
      <button type="button" name="button">
        Reportar una emergencia
      </button>
    </div>
  </div>
</section>
