<section class="login-view">
  <div class="login-view-others-way">
    <div class="login-view-others-way-title">
      Inicia sesión con tu cuenta de Italika
    </div>
    <div class="login-view-others-way-items">
      <div class="">
        Continuar con Facebook
      </div>
      <div class="">
        Continuar con google
      </div>
    </div>
    <div class="login-view-or-options">
      <hr>
    </div>
  </div>
  <div class="login-view-fields">
    <div class="login-view-fields-item">
      <p>
        Correo electronico
      </p>
      <input type="text">
    </div>
    <div class="login-view-fields-item">
      <p>
        Contraseña
      </p>
      <input type="password">
    </div>
    <div class="login-view-fields-button">
      <button type="button" name="button" [routerLink]="['/home']">
        Iniciar sesión
      </button>
    </div>
  </div>
</section>
