.header-component{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px 0 8px;
  position: fixed;
  width: 101%;
  box-shadow: 0 3px 7px #ddd;
  background: #fff;
  top: 0;
  &.isWelcome{
    display: none;
  }
}
.header-component-logo{
  img{
    width: 80px;
  }
}
.header-component-menu{
  img{
    width: 30px;
  }
}

.navigations-component{
  position: fixed;
  background: #fff;
  top: 0;
  right: 0;
  width: 80%;
  padding: 8px;
  height: 100vh;
  z-index: 9;
  transition: all 1s ease;
  right: -100%;
  &.active{
    right: 0;
  }
  div{
    padding: 10px 23px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
  }
}

.navigation-mask{
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 8;
  top: 0;
  transition: all 1s ease;
  right: -100%;
  &.active{
    right: 0;
  }
}
