<div class="notifications-view">
  <div class="notifications-view-title">
    <h2>
      Notificaciones
    </h2>
    <p>
      Mantente enterado de todo lo que sucede en Italika.
    </p>
  </div>
  <div class="notifications-view-alert">
    <div class="notifications-view-alert-icon">
      <img src="/assets/warning.svg" alt="">
    </div>
    <div class="notifications-view-alert-info">
      <h4>
        Actualización de estatus
      </h4>
      <p>
        De acuerdo a tu última visita a uno de nuestros talleres
        te corresponde realizar un mantenimiento antes de
        <b>15/09/2019</b>
      </p>
      <p>
        <button type="button" name="button">
          Agendar una cita
        </button>
      </p>
    </div>
  </div>
</div>
