<section class="interior-view">
  <div class="interior-view-top">
    <div class="interior-view-top-img">
      <img src="/assets/moto.png" alt="">
    </div>
    <div class="interior-view-info">
      <h5>
        Italika FT 150
      </h5>
      <p>
        Próximo mantenimiento <b>15/09/2019</b>
      </p>
    </div>
    <div class="interior-view-top-tabs">
      <div class="interior-view-top-tabs active">
        Resumen
      </div>
      <div class="interior-view-top-tabs">
        Transacciones
      </div>
    </div>
  </div>
  <div class="interior-view-my-technicals">
    <div class="interior-view-my-technicals-kms">
      <h4>
        Kilometraje
      </h4>
      <p class="interior-view-my-technicals-kms-measures">
        50,000 KM
      </p>
      <p class="interior-view-my-technicals-kms-measures-text">
        Recorridos desde la compra
      </p>
    </div>
    <div class="interior-view-tips">
      <p>
        <b>
          Recomendaciones
        </b>
      </p>
      <p>
        Basado en tu historial de uso e histrial crediticio,
        te ofrecemos los siguientes modelos para compra o cambio
        inmediato.
      </p>
    </div>
    <div class="item-to-buy-change">
      <div class="item-to-buy-change-image">
        <img src="/assets/moto.png" alt="">
      </div>
      <div class="item-to-buy-change-info">
        <div class="">
          <h5>
            DT 200 sport
          </h5>
          <p>
            $28,999.00
          </p>
        </div>
        <div class="">
          <button type="button" name="button">
            Más información
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
