<section class="interior-view">
  <div class="interior-view-top">
    <div class="interior-view-top-img">
      <img src="" alt="">
    </div>
    <div class="interior-view-info">

    </div>
    <div class="interior-view-top-tabs">
      <div class="interior-view-top-tabs active">
        Resumen
      </div>
      <div class="interior-view-top-tabs active">
        Transacciones
      </div>
    </div>
  </div>
  <div class="interior-view-my-technicals">
    <div class="">
      <h4>
        Kilometraje
      </h4>
      <p>
        50,000 KM
      </p>
      <p>
        Recorridos desde la compra
      </p>
    </div>
    <div class="interior-view-tips">
      <p>
        Recomendaciones
      </p>
      <p>
        Basado en tu historial de uso e histrial crediticio,
        te ofrecemos los siguientes modelos para compra o cambio
        inmediato.
      </p>
    </div>
  </div>
</section>
